:root {
    --background-color: #f6f8fa;
    --card-color: white;
    --card-border-color: #e1e4e8;
}

.element-container, .elements-group, .special-element-group {
    margin-top: 10%;
    margin: 5% 11%; 
    padding: 1.5rem;
    border: solid #dee2e6;
    border-width: 1px;
    border-radius: .25rem;
}
.element-container {
    max-height: 120px;
}

.output {
    height: 72px;
}

.navbar {
    background-color: var(--bs-primary);
    height: 78px;
}

a {
    color: none;
}
.menu-label {
    color: #dee2e6;
    text-decoration: none;
    font-size:25px;
}

.name {
    margin-right: 1.0em;
}
.special-name, .bool-name {
    margin-right: 1.0em;
    margin-bottom: 0;
}