:root {
    --background-color: #f6f8fa;
    --card-color: white;
    --card-border-color: #e1e4e8;
}

.element-container {
    margin-top: 10%;
    margin: 5% 11%; 
    padding: 1.5rem;
    max-height: 120px;
    border: solid #dee2e6;
    border-width: 1px;
    border-top-left-radius: .25rem;
    border-top-right-radius: .25rem;
}

.output {
    height: 72px;
}

.navbar {
    background-color: var(--bs-primary);
    height: 78px;
}

a {
    color: none;
}
.menu-label {
    color: #dee2e6;
    text-decoration: none;
    font-size:25px;
}